apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pathology-data
  namespace: node-pathology
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: microk8s-hostpath
