apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pinn-data
  namespace: central-pinn
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: microk8s-hostpath
